@use "../01-Abstracts" as *;

.spinner {
  margin: 2rem auto;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;

  svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 6rem;
    width: 6rem;
    fill: getColor(primary-base);
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


